*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1440px) {
    html {
      font-size: 58%; } }
  @media (max-width: 1360px) {
    html {
      font-size: 52%; } }

body {
  box-sizing: border-box; }

.btn-main:link, .btn-main:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: #2f2e2e;
  padding: 2rem 5.5rem;
  border: 1px solid #bf2459;
  border-radius: 50px;
  transition: all 0.2s ease-out; }
  @media (max-width: 768px) {
    .btn-main:link, .btn-main:visited {
      background-color: #bf2459;
      color: #fff; } }

.btn-main:hover {
  background-color: #bf2459;
  color: #fff; }

.btn-second:link, .btn-second:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 2rem 4.5rem;
  transition: all 0.2s ease-out; }

.btn-second--blue {
  background-color: #18a0fb; }

.btn-second--blue-dark {
  background-color: #2737c4; }

.btn-second--red {
  background-color: #c4275d; }

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.13); }
  .product-card--shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border: none; }
  .product-card__img {
    height: 20rem; }
    .product-card__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .product-card__content {
    padding: 2.5rem; }
  .product-card__heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
    .product-card__heading a:link, .product-card__heading a:visited {
      text-decoration: none;
      color: #000; }
  .product-card__list {
    list-style-position: inside; }
  .product-card__item {
    font-size: 1.8rem; }
  .product-card__text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem; }
  .product-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product-card__price {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8); }
    .product-card__price span {
      color: #000000;
      font-weight: bold;
      margin-right: 0.5rem; }
  .product-card__icon {
    height: 3rem;
    width: 3rem; }

body {
  font-family: "Montserrat", sans-serif; }

.heading-1 {
  font-size: 8rem;
  line-height: 9.5rem;
  text-transform: uppercase;
  color: #000; }

.heading-2 {
  font-size: 4.8rem;
  line-height: 134%;
  color: #000; }
  @media (max-width: 575px) {
    .heading-2 {
      font-size: 3.5rem;
      line-height: 120%; } }
  .heading-2--white {
    color: #fff; }
  .heading-2--blue {
    color: #2737c4; }

.heading-3 {
  font-size: 3.6rem;
  color: #fff; }
  .heading-3--black {
    color: #000; }

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bf2459; }
  .heading-4--blue {
    color: #5dbeff; }
  .heading-4--blue-dark {
    color: #2737c4; }
  .heading-4--black {
    color: #000; }
  .heading-4--white {
    color: #fff; }

.u-wrapper {
  width: 80%;
  margin: 0 auto; }

.header {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  transition: all 0.2s ease-out; }
  @media (max-width: 1199px) {
    .header {
      display: none; } }
  .header--white {
    background-color: #fff; }
  .header--active {
    background-color: #fff; }
  .header--profile .header__link:hover {
    color: #5dbeff; }
  .header--profile .header__link.active {
    color: #5dbeff; }
  .header__logo-box {
    height: 50%;
    margin-left: 10rem; }
  .header__logo {
    height: 100%;
    width: auto; }
  .header__nav {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif; }
  .header__list {
    display: flex;
    list-style: none;
    margin-right: 4rem;
    margin-bottom: 0; }
  .header__item {
    display: flex;
    align-items: center; }
    .header__item:not(:last-child) {
      margin-right: 4rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #141414;
    transition: all 0.1s ease-out; }
  .header__link:hover {
    color: #bf2459; }
  .header__link.active {
    color: #bf2459; }
  .header__btn:link, .header__btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #18a0fb;
    padding: 2rem 4rem;
    margin-right: 10rem; }

.header-phone {
  display: none;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1199px) {
    .header-phone {
      display: flex; } }
  .header-phone__dropdown {
    position: relative;
    display: inline-block; }
  .header-phone__dropbtn {
    cursor: pointer;
    background-color: #18a0fb;
    padding: 2rem;
    border-radius: 3px;
    margin-right: 2.5rem; }
    .header-phone__dropbtn img {
      height: auto;
      width: 100%; }
  .header-phone__dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 32rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px; }
    .header-phone__dropdown-content--white {
      background-color: #fff; }
  .header-phone .header__list {
    flex-direction: column;
    padding: 1.5rem;
    align-items: unset;
    text-align: center; }
  .header-phone .header__item {
    padding: 1.8rem 0;
    margin: 0; }
    .header-phone .header__item img {
      margin-right: 2rem; }
    .header-phone .header__item:not(:last-child) {
      border-bottom: 1px solid #7180964f; }
    .header-phone .header__item--blue {
      background-color: #18a0fb; }
      .header-phone .header__item--blue a {
        color: #fff; }
  .header-phone .header__link {
    font-size: 1.8rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center; }
  .header-phone .show {
    display: block; }

.contact {
  background-color: #1a1919;
  padding: 15rem 0; }
  @media (max-width: 991px) {
    .contact {
      padding: 0;
      padding-top: 10rem; } }
  @media (max-width: 991px) {
    .contact {
      padding: 0;
      padding-top: 6rem; } }
  .contact .u-wrapper {
    display: flex; }
    @media (max-width: 991px) {
      .contact .u-wrapper {
        flex-direction: column;
        margin: 0;
        width: 100%; } }
  .contact__content {
    flex: 1; }
    @media (max-width: 991px) {
      .contact__content {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem; } }
  .contact__label {
    margin-bottom: 4rem; }
  .contact__text {
    font-size: 2.4rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 4rem;
    width: 90%; }
  .contact__list {
    list-style: none; }
  .contact__item {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center; }
    .contact__item:not(:last-child) {
      margin-bottom: 3rem; }
    .contact__item img {
      margin-right: 5rem; }
  .contact__map-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 991px) {
      .contact__map-box {
        height: 40rem; } }
    .contact__map-box iframe {
      height: 100%;
      width: 100%; }

.footer {
  padding: 2rem 0; }
  @media (max-width: 575px) {
    .footer {
      background-color: #000;
      color: #fff; } }
  .footer .u-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1199px) {
      .footer .u-wrapper {
        flex-direction: column; } }
  .footer__socials {
    display: flex; }
    @media (max-width: 1199px) {
      .footer__socials {
        margin-bottom: 1.5rem; } }
    @media (max-width: 575px) {
      .footer__socials {
        display: none; } }
    .footer__socials--black {
      display: none; }
      @media (max-width: 575px) {
        .footer__socials--black {
          align-self: flex-start;
          display: flex; } }
  .footer__social {
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .footer__social:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 575px) {
        .footer__social:not(:last-child) {
          margin-right: 1rem; } }
    .footer__social img {
      height: 3.5rem;
      width: 3.5rem;
      margin-right: 2.5rem; }
  .footer__copyright {
    font-size: 1.8rem; }

.similar-products {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .similar-products {
      padding-top: 6rem;
      padding-bottom: 0; } }
  .similar-products__wrapper {
    margin-left: 10%; }
    @media (max-width: 768px) {
      .similar-products__wrapper {
        margin-right: 10%; } }
  .similar-products__label {
    margin-bottom: 4rem; }
  .similar-products__heading {
    margin-bottom: 7rem;
    width: 70%; }
    @media (max-width: 768px) {
      .similar-products__heading {
        width: 100%; } }
  .similar-products__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem; }
    @media (max-width: 768px) {
      .similar-products__slider-box {
        padding: 0; } }
    .similar-products__slider-box .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none; }
      @media (max-width: 768px) {
        .similar-products__slider-box .arrow {
          display: none; } }
      .similar-products__slider-box .arrow--prev {
        left: 5%; }
      .similar-products__slider-box .arrow--next {
        right: 5%; }

.landing {
  height: 66rem;
  padding-top: 26rem;
  background-repeat: no-repeat;
  background-position: bottom; }
  .landing--locations {
    background-image: url("../../images/bckg-locations.png"); }
  .landing--installing {
    background-image: url("../../images/bckg-installing.png"); }
  .landing--eshop {
    background-image: url("../../images/bckg-envelops.png"); }
  .landing--outside-branding {
    background-image: url("../../images/bckg-outsideBranding.png");
    background-position: right; }
    .landing--outside-branding .landing__heading {
      text-transform: uppercase; }
  .landing--designers-guide {
    background-image: url("../../images/bckg-designersGuide.png"); }
    .landing--designers-guide .landing__heading {
      text-transform: uppercase;
      color: #fff; }
  .landing__label {
    margin-bottom: 4rem; }
  .landing__heading {
    width: 55%;
    font-weight: bold; }
    @media (max-width: 991px) {
      .landing__heading {
        width: 100%; } }

.locations-slider {
  position: relative;
  height: 45rem; }
  .locations-slider .swiper-container {
    height: 100%; }
  .locations-slider .swiper-wrapper {
    height: 100%; }
  .locations-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .locations-slider .arrow {
    height: 6.5rem;
    width: 6.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .locations-slider .arrow:focus {
      outline: none; }
    .locations-slider .arrow--next {
      right: 4rem; }
    .locations-slider .arrow--prev {
      left: 4rem; }

.characteristics {
  display: flex; }
  @media (max-width: 768px) {
    .characteristics {
      flex-direction: column; } }
  .characteristics--homepage {
    display: none; }
    @media (max-width: 768px) {
      .characteristics--homepage {
        display: flex; } }
    .characteristics--homepage .characteristics__content {
      background-color: #2737c4; }
  .characteristics__list {
    padding: 15rem 0;
    padding-left: 10%;
    flex: 0 0 35%;
    background-color: #2737c4;
    display: flex;
    flex-direction: column; }
    @media (max-width: 768px) {
      .characteristics__list--desktop {
        display: none; } }
    @media (max-width: 1199px) {
      .characteristics__list {
        padding: 10rem 0;
        padding-left: 8%; } }
    @media (max-width: 991px) {
      .characteristics__list {
        padding: 5rem;
        padding-left: 3%; } }
  .characteristics__item:not(:last-child) {
    margin-bottom: 2rem; }
  .characteristics__link:link, .characteristics__link:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fff; }
  .characteristics__link.active {
    color: #bf2459; }
  .characteristics__content {
    padding: 15rem;
    flex: 0 0 65%;
    background-color: #f1f1f1; }
    @media (max-width: 1199px) {
      .characteristics__content {
        padding: 10rem; } }
    @media (max-width: 991px) {
      .characteristics__content {
        padding: 5rem; } }
  .characteristics__heading {
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem; }
    @media (max-width: 575px) {
      .characteristics__heading {
        font-size: 3.5rem; } }
  .characteristics__label {
    margin-bottom: 2rem; }
  .characteristics__text {
    font-size: 2.4rem; }
    .characteristics__text span {
      color: #bf2459;
      font-weight: bold; }
  .characteristics__btn {
    margin-top: 2rem;
    display: inline-block; }

.swiper-container--outsideBranding {
  background-color: #2737c4;
  padding: 2rem 0;
  padding-left: 6%;
  display: none;
  width: 100%; }
  @media (max-width: 768px) {
    .swiper-container--outsideBranding {
      display: block; } }
  .swiper-container--outsideBranding .nav {
    flex-wrap: unset;
    display: unset;
    padding-left: unset;
    margin-bottom: unset;
    list-style: unset;
    display: flex; }
  .swiper-container--outsideBranding .characteristics__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .swiper-container--outsideBranding .characteristics__item:not(:last-child) {
      margin-bottom: unset; }
  .swiper-container--outsideBranding ul {
    border: none;
    align-items: center; }
  .swiper-container--outsideBranding .characteristics__link:link, .swiper-container--outsideBranding .characteristics__link:visited {
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 20px;
    width: 100%;
    text-align: center; }
    @media (max-width: 768px) {
      .swiper-container--outsideBranding .characteristics__link:link, .swiper-container--outsideBranding .characteristics__link:visited {
        font-weight: unset; } }
  .swiper-container--outsideBranding .characteristics__link.active {
    background-color: #fff;
    color: #000; }

.homepage-main {
  height: 100vh;
  position: relative; }
  .homepage-main__slider-box {
    height: 100%; }
  .homepage-main__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 10; }
    @media (max-width: 1360px) {
      .homepage-main__icons {
        right: 5rem; } }
    @media (max-width: 768px) {
      .homepage-main__icons {
        display: none; } }
    .homepage-main__icons .icon {
      cursor: pointer; }
      .homepage-main__icons .icon--fb {
        margin-bottom: 4.5rem; }

.swiper-container--homepage {
  height: 100%; }
  .swiper-container--homepage .swiper-slide {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .swiper-container--homepage .swiper-slide--1 {
      background-image: url("../images/bckg-main.png"); }
    .swiper-container--homepage .swiper-slide--2 {
      background-image: url("../images/bckg-locations.png"); }
    .swiper-container--homepage .swiper-slide--3 {
      background-image: url("../images/bckg-outsideBranding.png"); }
  .swiper-container--homepage .swiper-scrollbar {
    left: 5rem;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c4c4c4; }
  .swiper-container--homepage .swiper-scrollbar-drag {
    background-color: #2f2e2e;
    width: 7px;
    left: -1px; }
  .swiper-container--homepage .swiper-pagination {
    left: 6.5rem;
    top: 50%; }

.swiper-container--homepage
> .swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 2rem 0;
  height: 1rem;
  width: 1rem; }
  .swiper-container--homepage
> .swiper-pagination-bullets
.swiper-pagination-bullet-active {
    background-color: #2f2e2e; }

.slide-content {
  width: 40%;
  margin-left: 10%; }
  @media (max-width: 768px) {
    .slide-content {
      width: 100%; } }
  .slide-content__label {
    font-size: 1.8rem;
    color: #2f2e2e;
    margin-bottom: 4rem; }
  .slide-content__heading {
    margin-bottom: 4rem; }
    @media (max-width: 1199px) {
      .slide-content__heading {
        font-size: 6rem;
        line-height: 7rem; } }
    @media (max-width: 1199px) {
      .slide-content__heading {
        font-size: 4.5rem;
        line-height: 5rem; } }
  .slide-content__text {
    font-size: 2.4rem;
    color: #000;
    line-height: 4rem;
    letter-spacing: -0.015em;
    margin-bottom: 6rem; }

.homepage-eshop {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .homepage-eshop {
      padding: 6rem 0; } }
  @media (max-width: 575px) {
    .homepage-eshop {
      align-items: flex-start; } }
  .homepage-eshop__label {
    margin-bottom: 4rem; }
    @media (max-width: 575px) {
      .homepage-eshop__label {
        padding: 0 10%; } }
  .homepage-eshop__heading {
    margin-bottom: 8rem;
    width: 70%;
    text-align: center; }
    @media (max-width: 575px) {
      .homepage-eshop__heading {
        width: 100%;
        text-align: start;
        padding: 0 10%; } }
  .homepage-eshop__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem; }
    @media (max-width: 1199px) {
      .homepage-eshop__slider-box {
        height: 40rem;
        padding: 0 15rem; } }
    @media (max-width: 768px) {
      .homepage-eshop__slider-box {
        padding: 0; } }
    .homepage-eshop__slider-box .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none; }
      @media (max-width: 768px) {
        .homepage-eshop__slider-box .arrow {
          display: none; } }
      .homepage-eshop__slider-box .arrow--prev {
        left: 5%; }
      .homepage-eshop__slider-box .arrow--next {
        right: 5%; }
  .homepage-eshop__btn {
    align-self: center; }

.swiper-container--eshop {
  height: 100%; }
  .swiper-container--eshop .swiper-slide:hover img {
    opacity: 0;
    pointer-events: none; }
  .swiper-container--eshop .swiper-slide img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-out; }

.slide-card {
  padding: 0 2rem;
  background-color: #2737c4;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .slide-card__label {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
    padding-top: 2rem; }
  .slide-card__heading {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .slide-card__text {
    font-size: 2.2rem;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 3rem; }
  .slide-card__btn:link, .slide-card__btn:visited {
    padding: 2rem 3rem;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 2rem;
    cursor: pointer; }

.homepage-services {
  padding: 13rem 0; }
  @media (max-width: 768px) {
    .homepage-services {
      padding: 6rem 0; } }
  .homepage-services__label {
    margin-bottom: 4rem; }
  .homepage-services__heading {
    width: 80%;
    margin-bottom: 5rem; }
    @media (max-width: 575px) {
      .homepage-services__heading {
        width: 100%; } }
  .homepage-services__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 6rem; }
    @media (max-width: 991px) {
      .homepage-services__cards-container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575px) {
      .homepage-services__cards-container {
        grid-template-columns: 1fr; } }

.service-card {
  display: flex;
  flex-direction: column; }
  .service-card__img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    transition: all 0.2s ease-out; }
    .service-card__img:hover {
      background-color: #bf2459; }
    .service-card__img:hover path {
      fill: #fff;
      transition: all 0.2s ease-out; }
    @media (max-width: 575px) {
      .service-card__img {
        margin-bottom: 3rem; } }
    .service-card__img svg {
      width: 5.5rem;
      height: 5.5rem; }
      .service-card__img svg path {
        fill: #bf2459; }
  .service-card__heading {
    font-size: 2.4rem;
    margin-bottom: 3rem; }
  .service-card__text {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 4rem; }
  .service-card__btn:link, .service-card__btn:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #343646;
    align-self: flex-start;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #000;
    transition: all 0.2s ease-out; }
  .service-card__btn:hover {
    color: #bf2459;
    text-decoration-color: #bf2459; }
    .service-card__btn:hover i {
      border-color: #bf2459; }
  .service-card__btn i {
    border: solid #343646;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-bottom: 1px;
    margin-left: 5px; }

.homepage-branding {
  display: flex; }
  @media (max-width: 768px) {
    .homepage-branding {
      display: none; } }
  .homepage-branding__list {
    position: absolute;
    top: 10rem;
    left: 10rem;
    z-index: 10; }
  .homepage-branding__img {
    position: relative;
    flex: 0 0 50%;
    height: calc(100vh - 80px); }
    .homepage-branding__img .content01 {
      opacity: 1; }
    .homepage-branding__img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      opacity: 0;
      transition: opacity 0.7s ease-out; }
  .homepage-branding__content {
    flex: 0 0 50%;
    padding: 30rem 8rem;
    background-color: #2737c4; }
    @media (max-width: 1199px) {
      .homepage-branding__content {
        padding: 30rem 5rem; } }
    @media (max-width: 991px) {
      .homepage-branding__content {
        padding: 30rem 2rem; } }
  .homepage-branding__label {
    margin-bottom: 4rem; }
  .homepage-branding__container {
    margin-bottom: 6rem; }
  .homepage-branding__list {
    list-style: none; }
  .homepage-branding__item:not(:last-child) {
    margin-bottom: 0.5rem; }
  .homepage-branding__link:link, .homepage-branding__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff; }
    .homepage-branding__link:link.active, .homepage-branding__link:visited.active {
      font-weight: bold; }

.branding__heading {
  font-size: 6rem;
  line-height: 6rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 3rem; }
  @media (max-width: 991px) {
    .branding__heading {
      font-size: 4.5rem; } }

.branding__text {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #fff;
  margin-bottom: 4rem; }

.homepage-about {
  padding: 12rem 0;
  padding-left: 10%;
  background-image: url("../images/bckg-book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 768px) {
    .homepage-about {
      padding: 6rem 0;
      padding-left: 10%; } }
  @media (max-width: 575px) {
    .homepage-about {
      background-image: none;
      background-color: #fff259;
      padding-right: 10%; } }
  .homepage-about__label {
    margin-bottom: 4rem; }
  .homepage-about__heading {
    color: #191919;
    margin-bottom: 3rem; }
  .homepage-about__text {
    font-size: 2.2rem;
    line-height: 3rem;
    color: rgba(4, 4, 4, 0.8);
    margin-bottom: 8rem;
    width: 40%; }
    @media (max-width: 768px) {
      .homepage-about__text {
        width: 50%; } }
    @media (max-width: 575px) {
      .homepage-about__text {
        width: 100%; } }

.homepage-products {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .homepage-products {
      padding: 6rem 0; } }
  .homepage-products__wrapper {
    margin-left: 10%; }
    @media (max-width: 575px) {
      .homepage-products__wrapper {
        margin-right: 10%; } }
  .homepage-products__label {
    margin-bottom: 4rem; }
  .homepage-products__heading {
    margin-bottom: 3rem;
    width: 70%; }
    @media (max-width: 768px) {
      .homepage-products__heading {
        width: 100%; } }
  .homepage-products__text {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5rem; }
  .homepage-products__slider-box {
    width: 100%;
    min-height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem; }
    @media (max-width: 1199px) {
      .homepage-products__slider-box {
        padding: 0 15rem; } }
    @media (max-width: 768px) {
      .homepage-products__slider-box {
        padding: 0; } }
    .homepage-products__slider-box .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none; }
      @media (max-width: 768px) {
        .homepage-products__slider-box .arrow {
          display: none; } }
      .homepage-products__slider-box .arrow--prev {
        left: 5%; }
      .homepage-products__slider-box .arrow--next {
        right: 5%; }
  .homepage-products__btn {
    align-self: center; }

.eshop-shop {
  padding: 5rem 0; }
  @media (max-width: 575px) {
    .eshop-shop {
      padding-top: 0; } }
  @media (max-width: 575px) {
    .eshop-shop .u-wrapper {
      margin: 0;
      width: 100%; } }
  .eshop-shop__wrapper {
    display: flex; }
    .eshop-shop__wrapper--top {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem; }
      @media (max-width: 768px) {
        .eshop-shop__wrapper--top {
          margin-bottom: 0; } }
    @media (max-width: 768px) {
      .eshop-shop__wrapper--bottom {
        flex-direction: column; } }
  .eshop-shop__search {
    position: relative;
    flex: 0 0 30%; }
    @media (max-width: 768px) {
      .eshop-shop__search {
        flex: 1; } }
    .eshop-shop__search input {
      font-size: 1.8rem;
      width: 100%;
      height: 6rem;
      padding: 0 2rem;
      border: 1px solid #868686; }
      @media (max-width: 575px) {
        .eshop-shop__search input {
          border: none;
          background-color: #f2f2f2; } }
      .eshop-shop__search input:focus {
        outline: none; }
    .eshop-shop__search img {
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%); }
  .eshop-shop__breadcrumb {
    font-size: 2rem;
    color: #2f2e2e; }
    @media (max-width: 768px) {
      .eshop-shop__breadcrumb {
        display: none; } }
  .eshop-shop__nav {
    flex: 0 0 30%; }
  .eshop-shop__btn {
    width: 100%;
    height: 6.5rem;
    background-color: #5dbeff;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
    padding: 0 3.5rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .eshop-shop__btn:focus {
      outline: none; }
    .eshop-shop__btn img {
      margin-left: auto; }
  .eshop-shop__list {
    list-style: none; }
  .eshop-shop__item {
    height: 6.5rem;
    background-color: #faf8f8;
    border: 1px solid #cacaca;
    padding: 0 3.5rem;
    display: flex;
    align-items: center; }
  .eshop-shop__link:link, .eshop-shop__link:visited {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .eshop-shop__products-window {
    padding-left: 3rem; }
    @media (max-width: 768px) {
      .eshop-shop__products-window {
        padding-left: 0; } }
  .eshop-shop__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 7rem; }
    @media (max-width: 1360px) {
      .eshop-shop__products {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575px) {
      .eshop-shop__products {
        grid-template-columns: 1fr; } }
  @media (max-width: 768px) {
    .eshop-shop__pagination {
      display: flex;
      justify-content: center; } }
  .eshop-shop__pagination .page-item.active .page-link {
    background-color: unset;
    color: #0677fb; }
  .eshop-shop__pagination .page-link {
    border: none;
    font-size: 2.2rem;
    color: #969696;
    padding: 0 2.5rem; }
    .eshop-shop__pagination .page-link:focus {
      box-shadow: none; }
    .eshop-shop__pagination .page-link:hover {
      color: #808080;
      background-color: unset; }
    .eshop-shop__pagination .page-link--prev span {
      margin-right: 1rem; }
    .eshop-shop__pagination .page-link--next span {
      margin-left: 1rem; }

.custom-checkbox {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .custom-checkbox .container {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    font-size: 1.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0; }
  .custom-checkbox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff;
    border: 1px solid #2737c4;
    border-radius: 3px; }
  .custom-checkbox .container:hover input ~ .checkmark {
    background-color: #ebf4ff; }
  .custom-checkbox .container input:checked ~ .checkmark {
    background-color: #ebf4ff; }
  .custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .custom-checkbox .container input:checked ~ .checkmark:after {
    display: block; }
  .custom-checkbox .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #2737c4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.product-info {
  padding-top: 16rem;
  padding-bottom: 8rem; }
  @media (max-width: 768px) {
    .product-info {
      padding-bottom: 3rem; } }
  .product-info__breadcrumbs {
    font-size: 2rem;
    margin-bottom: 6rem; }
    @media (max-width: 768px) {
      .product-info__breadcrumbs {
        display: none; } }
  .product-info__product-content {
    display: flex;
    padding-bottom: 8rem; }
    @media (max-width: 768px) {
      .product-info__product-content {
        flex-direction: column;
        padding-bottom: 3rem; } }
  @media (max-width: 768px) {
    .product-info__instructions {
      padding-bottom: 3rem; } }
  .product-info__description {
    margin-left: 6rem; }
    @media (max-width: 768px) {
      .product-info__description {
        margin-left: 0; } }
    .product-info__description__heading {
      font-weight: bold; }
    .product-info__description__text {
      font-size: 2.4rem;
      line-height: 5rem;
      color: rgba(0, 0, 0, 0.8); }
      @media (max-width: 575px) {
        .product-info__description__text {
          font-size: 2.2rem;
          line-height: 4rem; } }

.product__img {
  width: 50%;
  padding: 0 3rem;
  flex: 1; }
  @media (max-width: 768px) {
    .product__img {
      width: 100%;
      height: 40rem;
      padding: 0; } }
  .product__img .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  .product__img .swiper-slide {
    background-size: cover;
    background-position: center; }
    .product__img .swiper-slide--1 {
      background-image: url("../images/product-1.png"); }
    .product__img .swiper-slide--2 {
      background-image: url("../images/product-1.png"); }
    .product__img .swiper-slide--3 {
      background-image: url("../images/product-1.png"); }
  .product__img .gallery-top {
    height: 80%;
    width: 100%; }
    @media (max-width: 768px) {
      .product__img .gallery-top {
        height: 70%; } }
    @media (max-width: 575px) {
      .product__img .gallery-top {
        height: 80%; } }
  .product__img .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0; }
    @media (max-width: 768px) {
      .product__img .gallery-thumbs {
        height: 30%; } }
    @media (max-width: 575px) {
      .product__img .gallery-thumbs {
        height: 20%; } }
  .product__img .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4; }
  .product__img .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1; }
  .product__img img {
    height: 100%;
    width: 90%;
    object-fit: cover; }
    @media (max-width: 1199px) {
      .product__img img {
        height: 80%;
        width: 95%; } }
    @media (max-width: 991px) {
      .product__img img {
        height: 60%;
        width: 95%; } }
    @media (max-width: 768px) {
      .product__img img {
        width: 100%; } }

.product__details {
  flex: 1; }

.product__heading {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 4rem; }

.product__label {
  margin-bottom: 2rem; }

.product__text {
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3rem; }

.product__inputs-box {
  margin-bottom: 3rem;
  display: flex; }
  @media (max-width: 991px) {
    .product__inputs-box {
      justify-content: space-between; } }
  @media (max-width: 768px) {
    .product__inputs-box {
      flex-direction: column; } }

.product__price {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem; }

.product__btn:link, .product__btn:visited {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 575px) {
    .product__btn:link, .product__btn:visited {
      width: 100%;
      display: flex;
      justify-content: center; } }

.product__btn img {
  margin-right: 2rem; }

.instructions__heading {
  font-size: 2.4rem;
  background-color: #343646;
  color: #fff;
  padding: 1.5rem 4rem;
  margin: 0; }

.instructions__text {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  background-color: #f1f1f1; }

.select-dropdown-box {
  flex: 0 0 50%;
  position: relative; }
  @media (max-width: 991px) {
    .select-dropdown-box {
      flex: unset;
      min-width: 20rem; } }
  @media (max-width: 768px) {
    .select-dropdown-box {
      margin-bottom: 2rem;
      width: 20rem; } }
  @media (max-width: 575px) {
    .select-dropdown-box {
      width: 100%; } }
  .select-dropdown-box:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 4.4rem;
    height: 4.3rem;
    background-color: #faf8f8;
    pointer-events: none; }
  .select-dropdown-box select {
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    background-color: #faf8f8;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: 1px solid #cacaca;
    outline: none;
    cursor: pointer; }
    @media (max-width: 991px) {
      .select-dropdown-box select {
        min-width: 17rem; } }
  .select-dropdown-box img {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    pointer-events: none; }

.input-number-box {
  margin-left: 8.5rem;
  display: flex; }
  @media (max-width: 991px) {
    .input-number-box {
      margin-left: 0; } }
  .input-number-box input[type="number"]::-webkit-inner-spin-button,
  .input-number-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .input-number-box input {
    width: 4.5rem;
    text-align: center;
    font-size: 2.4rem;
    border: 1px solid #cacaca;
    color: #676565; }
    .input-number-box input:focus {
      outline: none; }
  .input-number-box button {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #343646;
    border: none; }
    .input-number-box button:focus {
      outline: none; }

.installing-about {
  padding: 12rem 0; }
  @media (max-width: 575px) {
    .installing-about {
      padding: 6rem 0; } }
  .installing-about__what {
    display: flex; }
    @media (max-width: 768px) {
      .installing-about__what {
        flex-direction: column; } }

.what {
  margin-bottom: 10rem; }
  .what__img {
    flex: 0 0 20%;
    display: flex;
    align-items: center; }
    @media (max-width: 768px) {
      .what__img {
        flex: 1;
        padding-left: 0;
        margin-bottom: 2rem; } }
    .what__img img {
      width: 20rem; }
      @media (max-width: 768px) {
        .what__img img {
          width: 15rem; } }
  .what__content {
    flex: 0 0 80%;
    padding-left: 8rem; }
    @media (max-width: 768px) {
      .what__content {
        flex: 1;
        padding-left: 0; } }
  .what__heading {
    font-weight: bold;
    margin-bottom: 2rem; }
  .what__text {
    font-size: 3rem; }

.why__heading {
  font-weight: bold;
  margin-bottom: 6rem; }

.why__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10rem; }
  @media (max-width: 1360px) {
    .why__content {
      column-gap: 5rem; } }
  @media (max-width: 1199px) {
    .why__content {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem; } }
  @media (max-width: 991px) {
    .why__content {
      grid-template-columns: repeat(1, 1fr); } }

.why-card__header {
  height: 7rem;
  background-color: #f4f5fe;
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem; }
  .why-card__header img {
    margin-right: 4rem; }

.why-card__heading {
  font-size: 3rem;
  font-weight: bold; }
  @media (max-width: 991px) {
    .why-card__heading {
      font-size: 2.3rem; } }

.why-card__text {
  font-size: 2.4rem;
  line-height: 4rem; }
  .why-card__text:not(:last-child) {
    margin-bottom: 2rem; }

.installing-usage {
  background-color: #2737c4;
  padding: 12rem 0; }
  @media (max-width: 575px) {
    .installing-usage {
      padding: 6rem 0; } }
  .installing-usage__heading {
    font-weight: bold;
    margin-bottom: 4rem; }
  .installing-usage__heading-secondary {
    margin-bottom: 6rem; }
    @media (max-width: 575px) {
      .installing-usage__heading-secondary {
        font-size: 2.6rem; } }
  .installing-usage__lists {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .installing-usage__lists {
        display: block; } }
  .installing-usage__list {
    list-style: none;
    margin-bottom: 0; }
  .installing-usage__item {
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start; }
    .installing-usage__item img {
      margin-right: 3rem;
      margin-top: 1rem; }

.locations-about {
  padding: 12rem 0; }
  @media (max-width: 575px) {
    .locations-about {
      padding: 6rem 0; } }
  .locations-about__what {
    display: flex; }
    @media (max-width: 768px) {
      .locations-about__what {
        flex-direction: column; } }
  .locations-about__label {
    margin-bottom: 3rem; }
  .locations-about__heading {
    font-weight: bold;
    margin-bottom: 3rem; }
  .locations-about__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 6rem; }
    @media (max-width: 1199px) {
      .locations-about__card-container {
        column-gap: 3rem;
        row-gap: 3rem; } }
    @media (max-width: 991px) {
      .locations-about__card-container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 768px) {
      .locations-about__card-container {
        grid-template-columns: repeat(1, 1fr); } }

.location-card {
  border: 1px solid rgba(0, 0, 0, 0.13); }
  .location-card__img {
    height: 30rem; }
    .location-card__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .location-card__content {
    padding: 3rem; }
  .location-card__heading {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  .location-card__text {
    font-size: 1.8rem; }
  .location-card__dimensions {
    display: flex;
    color: #2737c4;
    font-size: 1.8rem;
    margin-top: 2rem; }
    .location-card__dimensions img {
      margin-right: 2rem; }
    .location-card__dimensions span {
      font-weight: bold;
      margin-right: 2px; }

.products-main {
  padding-top: 16rem;
  padding-bottom: 6rem; }
  .products-main__label {
    margin-bottom: 3rem; }
  .products-main__heading {
    margin-bottom: 4rem; }
  .products-main__products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem; }
    @media (max-width: 1199px) {
      .products-main__products-container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575px) {
      .products-main__products-container {
        grid-template-columns: repeat(1, 1fr); } }

.product-type-card {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8rem 1rem; }
  .product-type-card--1 {
    background-image: url("../images/product-type-1.png"); }
  .product-type-card--2 {
    background-image: url("../images/product-type-2.png"); }
  .product-type-card--3 {
    background-image: url("../images/product-type-3.png"); }
  .product-type-card--4 {
    background-image: url("../images/product-type-4.png"); }
  .product-type-card--5 {
    background-image: url("../images/product-type-5.png"); }
  .product-type-card--6 {
    background-image: url("../images/product-type-6.png"); }
  .product-type-card__heading {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem; }
    @media (max-width: 1199px) {
      .product-type-card__heading {
        font-size: 3.5rem; } }
    @media (max-width: 768px) {
      .product-type-card__heading {
        font-size: 2.8rem; } }
  .product-type-card__btn:link, .product-type-card__btn:visited {
    font-size: 1.8rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 3rem; }

.designers-guide-main {
  padding: 12rem 0; }
  @media (max-width: 575px) {
    .designers-guide-main {
      padding: 6rem 0; } }
  .designers-guide-main__desc {
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 8rem; }
  .designers-guide-main__preparations-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    margin-bottom: 8rem; }
    @media (max-width: 768px) {
      .designers-guide-main__preparations-content {
        grid-template-columns: repeat(1, 1fr); } }
    @media (max-width: 575px) {
      .designers-guide-main__preparations-content {
        margin-bottom: 4rem; } }
  .designers-guide-main__important {
    width: 100%; }
    .designers-guide-main__important .important__heading {
      font-size: 3.5rem;
      font-weight: bold;
      color: #fff;
      background-color: #343646;
      text-transform: uppercase;
      padding: 1.5rem 6rem;
      margin-bottom: 0; }
    .designers-guide-main__important .important__text {
      font-size: 2.4rem;
      line-height: 4rem;
      background-color: #f1f1f1;
      padding: 3rem 6rem; }
      @media (max-width: 575px) {
        .designers-guide-main__important .important__text {
          padding: 2rem 3rem; } }

.preparation-card {
  padding: 6rem 4rem; }
  @media (max-width: 768px) {
    .preparation-card {
      padding: 2rem 2rem; } }
  @media (max-width: 575px) {
    .preparation-card:nth-last-of-type(-n + 2) {
      padding: 0 2rem; } }
  .preparation-card--blue {
    position: relative;
    border: dashed 4px #2737c4;
    border-radius: 10px; }
    .preparation-card--blue .preparation-card__heading {
      color: #2737c4; }
    .preparation-card--blue img {
      position: absolute;
      top: 0;
      right: 10%;
      transform: translateY(-50%);
      height: 8rem; }
      @media (max-width: 768px) {
        .preparation-card--blue img {
          height: 6rem; } }
  .preparation-card--red {
    border: dashed 4px #eb3131;
    border-radius: 10px; }
    .preparation-card--red .preparation-card__heading {
      color: #eb3131; }
  .preparation-card__heading {
    font-size: 2.8rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: bold; }
  .preparation-card__text {
    font-size: 2rem;
    line-height: 4rem; }

.orders-main {
  padding: 0 10%;
  padding-top: 19rem;
  padding-bottom: 9rem;
  background-color: #f1f1f1; }
  @media (max-width: 575px) {
    .orders-main {
      padding: 0;
      padding-top: 12rem;
      padding-bottom: 2rem; } }

.orders__table {
  background-color: #fff;
  margin-bottom: 5rem; }

.orders__header {
  display: flex;
  padding: 2rem 6rem;
  align-items: center;
  border-bottom: 1px solid #e3e3e3; }
  @media (max-width: 991px) {
    .orders__header {
      flex-direction: column;
      align-items: flex-start; } }
  @media (max-width: 575px) {
    .orders__header {
      padding: 2rem; } }

.orders__full-price-main {
  display: flex;
  align-items: center; }
  .orders__full-price-main p {
    margin-bottom: 0; }
  .orders__full-price-main span {
    font-size: 2.4rem;
    color: #18a0fb;
    margin-left: 1rem; }

.orders__heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 2rem; }

.orders__date {
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-left: auto; }
  @media (max-width: 991px) {
    .orders__date {
      margin-left: unset; } }

.past-order {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 991px) {
    .past-order {
      grid-template-columns: repeat(2, 1fr); } }
  .past-order:not(:last-child) {
    border-bottom: 1px solid #e3e3e3; }
  .past-order__img {
    width: 70%;
    justify-self: center; }
    @media (max-width: 575px) {
      .past-order__img {
        display: flex;
        align-items: center; } }
    .past-order__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
      @media (max-width: 575px) {
        .past-order__img img {
          height: 50%; } }
  @media (max-width: 991px) {
    .past-order__content {
      padding-right: 1rem; } }
  .past-order__heading {
    font-size: 2.4rem;
    font-weight: bold; }
  .past-order__text {
    font-size: 1.8rem;
    line-height: 3rem; }
  .past-order__price {
    font-size: 1.8rem; }
    .past-order__price span {
      font-weight: bold; }
  .past-order__quantity {
    justify-self: center;
    align-self: center; }
    @media (max-width: 991px) {
      .past-order__quantity {
        margin-top: 3rem; } }
    .past-order__quantity span {
      font-weight: bold; }
  .past-order__full-price {
    justify-self: center;
    align-self: center; }
    @media (max-width: 991px) {
      .past-order__full-price {
        margin-top: 3rem; } }
    .past-order__full-price span {
      font-weight: bold; }

.profile-main {
  padding: 0 10%;
  padding-top: 19rem;
  padding-bottom: 9rem;
  background-color: #f1f1f1; }
  @media (max-width: 575px) {
    .profile-main {
      padding: 0;
      padding-top: 15rem;
      padding-bottom: 5rem; } }

.profile__table {
  background-color: #fff; }

.profile__heading {
  padding: 2rem 6rem;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .profile__heading {
      border: 1px solid #e3e3e3; } }

.profile__body {
  display: flex; }
  @media (max-width: 768px) {
    .profile__body {
      flex-direction: column; } }

.profile__personal-info {
  flex: 1;
  border-right: 1px solid #e3e3e3;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .profile__personal-info {
      border: 1px solid #e3e3e3; } }

.profile__change-pass {
  flex: 1;
  border-left: 1px solid #e3e3e3;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .profile__change-pass {
      border: 1px solid #e3e3e3; } }

.profile__heading-secondary {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 5rem; }

.profile__form {
  display: flex;
  flex-direction: column;
  width: 70%; }
  .profile__form label {
    font-size: 1.8rem; }
  .profile__form input {
    background-color: #f8f8f8;
    height: 4.5rem;
    border: 1px solid #eeeeee;
    padding: 0 3rem;
    font-size: 1.8rem;
    margin-bottom: 2rem; }
    .profile__form input:focus {
      outline: none; }

.profile__btn {
  border: none;
  background-color: #18a0fb;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 6rem;
  align-self: flex-start; }
  .profile__btn:focus {
    outline: none; }

.inputs-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .inputs-wrapper .input-box--city {
    flex: 0 0 65%; }
  .inputs-wrapper .input-box--zipCode {
    flex: 0 0 30%; }
  .inputs-wrapper input {
    width: 100%; }

.cart-main {
  padding: 0 10%;
  padding-top: 19rem;
  padding-bottom: 9rem;
  background-color: #f1f1f1;
  display: flex; }
  @media (max-width: 768px) {
    .cart-main {
      flex-direction: column; } }
  @media (max-width: 575px) {
    .cart-main {
      padding: 0;
      padding-top: 15rem;
      padding-bottom: 5rem; } }
  .cart-main__login {
    background-color: #fff;
    margin-left: 2rem;
    align-self: flex-start;
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    flex: 0.2; }
    @media (max-width: 768px) {
      .cart-main__login {
        margin-left: unset; } }
  .cart-main__register {
    background-color: #fff;
    margin-left: 2rem;
    align-self: flex-start;
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    flex: 0.2; }
    @media (max-width: 768px) {
      .cart-main__register {
        margin-left: unset; } }

.cart__table {
  background-color: #fff;
  flex: 0.8; }
  @media (max-width: 768px) {
    .cart__table {
      margin-bottom: 3rem; } }

.cart__heading {
  padding: 2rem 6rem;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0;
  font-size: 3rem; }

.cart__footer {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cart__continue-btn {
  font-size: 1.8rem;
  color: #717171; }

.cart__text {
  font-size: 1.8rem; }
  .cart__text span {
    font-size: 2.2rem;
    color: #18a0fb; }

.order {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #e3e3e3;
  position: relative; }
  @media (max-width: 1440px) {
    .order {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem; } }
  .order__remove-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer; }
    @media (max-width: 1199px) {
      .order__remove-btn {
        top: unset;
        bottom: 1rem;
        right: 2rem; } }
  .order__img {
    width: 70%;
    justify-self: center; }
    .order__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
      @media (max-width: 768px) {
        .order__img img {
          height: 100%; } }
  @media (max-width: 1199px) {
    .order__content {
      padding-right: 1rem; } }
  .order__heading {
    font-size: 2.4rem;
    font-weight: bold; }
  .order__text {
    font-size: 1.8rem;
    line-height: 3rem; }
  .order__price {
    font-size: 1.8rem; }
    .order__price span {
      font-weight: bold; }
  .order__quantity {
    justify-self: center;
    align-self: center; }
    .order__quantity .input-number-box {
      margin-left: unset; }
  .order__full-price {
    justify-self: center;
    align-self: center; }
    .order__full-price span {
      font-weight: bold; }

.login__heading {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 4rem; }

.login__form {
  margin-bottom: 2rem; }
  .login__form label {
    font-size: 1.8rem; }
  .login__form input {
    background-color: #f8f8f8;
    height: 4.5rem;
    border: 1px solid #eeeeee;
    padding: 0 3rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    width: 100%; }
    .login__form input:focus {
      outline: none; }

.login__btn {
  background-color: #18a0fb;
  color: #fff;
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  border: none; }
  .login__btn:focus {
    outline: none; }

.login__forgotten-pass-btn:link, .login__forgotten-pass-btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #9e9e9e;
  align-self: center;
  margin-bottom: 2rem; }

.login__no-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.login__text {
  font-size: 1.7rem;
  margin-bottom: 0; }

.login__register-btn:link, .login__register-btn:visited {
  text-decoration: none;
  font-size: 1.7rem;
  color: #18a0fb; }

.register__form label {
  font-size: 1.8rem; }

.register__form input {
  background-color: #f8f8f8;
  height: 4.5rem;
  border: 1px solid #eeeeee;
  padding: 0 3rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  width: 100%; }
  .register__form input:focus {
    outline: none; }

.register__wrapper {
  display: flex;
  width: 100%; }

.register__input-wrapper input {
  padding-left: 2rem;
  padding-right: 0; }

.register__input-wrapper--date {
  margin-right: 2rem; }

#cardNumber::-webkit-outer-spin-button, #cardNumber::-webkit-inner-spin-button,
#securityNum::-webkit-outer-spin-button,
#securityNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.cardNumber-wrapper {
  position: relative;
  margin-bottom: 2rem; }
  .cardNumber-wrapper input {
    margin-bottom: unset; }
  .cardNumber-wrapper img {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }

.services-main {
  padding-top: 16rem;
  padding-bottom: 6rem; }
  .services-main__label {
    margin-bottom: 3rem; }
  .services-main__heading {
    margin-bottom: 4rem; }
  .services-main__services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 3rem; }
    @media (max-width: 991px) {
      .services-main__services-container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575px) {
      .services-main__services-container {
        grid-template-columns: repeat(1, 1fr); } }

.service-type-card__img {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8rem 1rem; }
  .service-type-card__img--1 {
    background-image: url("../images/service-type-1.png"); }
  .service-type-card__img--2 {
    background-image: url("../images/service-type-1.png"); }
  .service-type-card__img--3 {
    background-image: url("../images/service-type-1.png"); }
  .service-type-card__img--4 {
    background-image: url("../images/service-type-1.png"); }
  .service-type-card__img--5 {
    background-image: url("../images/service-type-1.png"); }
  .service-type-card__img--6 {
    background-image: url("../images/service-type-1.png"); }

.service-type-card__heading {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem; }
  @media (max-width: 1199px) {
    .service-type-card__heading {
      font-size: 3.5rem; } }
  @media (max-width: 768px) {
    .service-type-card__heading {
      font-size: 2.8rem; } }

.service-type-card__btn:link, .service-type-card__btn:visited {
  font-size: 1.8rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 3rem; }
