*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn-primary:link, .btn-primary:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: #2f2e2e;
  padding: 2rem 5.5rem;
  border: 1px solid #bf2459;
  border-radius: 50px; }

.btn-secondary:link, .btn-secondary:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 2rem 4.5rem; }

.btn-secondary--blue {
  background-color: #18a0fb; }

.btn-secondary--blue-dark {
  background-color: #2737c4; }

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.13); }
  .product-card__img {
    height: 20rem; }
    .product-card__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .product-card__content {
    padding: 2.5rem; }
  .product-card__heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
  .product-card__text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem; }
  .product-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product-card__price {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8); }
    .product-card__price span {
      color: #000000;
      font-weight: bold;
      margin-right: 0.5rem; }
  .product-card__icon {
    height: 3rem;
    width: 3rem; }

body {
  font-family: "Montserrat", sans-serif; }

.heading-1 {
  font-size: 8rem;
  line-height: 9.5rem;
  text-transform: uppercase;
  color: #000; }

.heading-2 {
  font-size: 4.8rem;
  line-height: 134%;
  color: #000; }

.heading-3 {
  font-size: 3.6rem;
  color: #fff; }

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bf2459; }

.u-wrapper {
  width: 80%;
  margin: 0 auto; }

.header {
  height: 10rem;
  width: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10; }
  .header__logo-box {
    height: 50%;
    margin-left: 10rem; }
  .header__logo {
    height: 100%;
    width: auto; }
  .header__nav {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif; }
  .header__list {
    display: flex;
    list-style: none;
    margin-right: 4rem; }
  .header__item:not(:last-child) {
    margin-right: 4rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #141414; }
  .header__btn:link, .header__btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #18a0fb;
    padding: 2rem 4rem;
    margin-right: 10rem; }

.contact {
  background-color: #1a1919;
  padding: 15rem 0; }
  .contact .u-wrapper {
    display: flex; }
  .contact__content {
    flex: 1; }
  .contact__label {
    margin-bottom: 4rem; }
  .contact__text {
    font-size: 2.4rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 4rem;
    width: 90%; }
  .contact__list {
    list-style: none; }
  .contact__item {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center; }
    .contact__item:not(:last-child) {
      margin-bottom: 3rem; }
    .contact__item img {
      margin-right: 5rem; }
  .contact__map-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact__map-box iframe {
      height: 100%;
      width: 100%; }

.homepage-main {
  height: 100vh;
  position: relative; }
  .homepage-main__slider-box {
    height: 100%; }
  .homepage-main__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 10; }
    .homepage-main__icons .icon {
      cursor: pointer; }
      .homepage-main__icons .icon--fb {
        margin-bottom: 4.5rem; }

.swiper-container--homepage {
  height: 100%; }
  .swiper-container--homepage .swiper-slide {
    display: flex;
    align-items: center; }
    .swiper-container--homepage .swiper-slide--1 {
      background-image: url("../images/bckg-main.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .swiper-container--homepage .swiper-slide--2 {
      background-color: lightblue; }
    .swiper-container--homepage .swiper-slide--3 {
      background-color: lightgray; }
  .swiper-container--homepage .swiper-scrollbar {
    left: 14rem;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c4c4c4; }
  .swiper-container--homepage .swiper-scrollbar-drag {
    background-color: #2f2e2e;
    width: 7px;
    left: -1px; }

.slide-content {
  width: 40%;
  margin-left: 10%; }
  .slide-content__label {
    font-size: 1.8rem;
    color: #2f2e2e;
    margin-bottom: 4rem; }
  .slide-content__heading {
    margin-bottom: 4rem; }
  .slide-content__text {
    font-size: 2.4rem;
    color: #000;
    line-height: 40px;
    letter-spacing: -0.015em;
    margin-bottom: 6rem; }

.homepage-eshop {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homepage-eshop__label {
    margin-bottom: 4rem; }
  .homepage-eshop__heading {
    margin-bottom: 8rem;
    width: 70%;
    text-align: center; }
  .homepage-eshop__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem; }
    .homepage-eshop__slider-box .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none; }
      .homepage-eshop__slider-box .arrow--prev {
        left: 5%; }
      .homepage-eshop__slider-box .arrow--next {
        right: 5%; }

.swiper-container--eshop {
  height: 100%; }
  .swiper-container--eshop .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.slide-card {
  padding: 6rem 0;
  padding-left: 4rem;
  background-color: #2737c4;
  height: 100%; }
  .slide-card__label {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 5rem; }
  .slide-card__heading {
    margin-bottom: 3rem; }
  .slide-card__text {
    font-size: 2.4rem;
    color: #fff;
    line-height: 3.6rem;
    margin-bottom: 4rem; }

.homepage-services {
  padding: 13rem 0; }
  .homepage-services__label {
    margin-bottom: 4rem; }
  .homepage-services__heading {
    width: 80%;
    margin-bottom: 5rem; }
  .homepage-services__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 6rem; }

.service-card__img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem; }
  .service-card__img img {
    width: 5.5rem;
    height: 5.5rem; }

.service-card__heading {
  font-size: 2.4rem;
  margin-bottom: 3rem; }

.service-card__text {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 4rem; }

.service-card__btn:link, .service-card__btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #343646; }

.service-card__btn i {
  border: solid #343646;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 1px;
  margin-left: 5px; }

.homepage-about {
  padding: 12rem 0;
  padding-left: 10%;
  background-image: url("../images/bckg-book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .homepage-about__label {
    margin-bottom: 4rem; }
  .homepage-about__heading {
    color: #191919;
    margin-bottom: 3rem; }
  .homepage-about__text {
    font-size: 2.2rem;
    line-height: 3rem;
    color: rgba(4, 4, 4, 0.8);
    margin-bottom: 8rem;
    width: 40%; }

.homepage-products {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; }
  .homepage-products__wrapper {
    margin-left: 10%; }
  .homepage-products__label {
    margin-bottom: 4rem; }
  .homepage-products__heading {
    margin-bottom: 3rem;
    width: 70%; }
  .homepage-products__text {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5rem; }
  .homepage-products__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem; }
    .homepage-products__slider-box .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none; }
      .homepage-products__slider-box .arrow--prev {
        left: 5%; }
      .homepage-products__slider-box .arrow--next {
        right: 5%; }
  .homepage-products__btn {
    align-self: center; }
