.homepage-main {
  height: 100vh;
  position: relative;

  &__slider-box {
    height: 100%;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 10;

    .icon {
      &--fb {
        margin-bottom: 4.5rem;
      }
    }
  }
}

.swiper-container--homepage {
  height: 100%;

  .swiper-slide {
    display: flex;
    align-items: center;
    &--1 {
      background-image: url("../images/bckg-main.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--2 {
      background-color: lightblue;
    }

    &--3 {
      background-color: lightgray;
    }
  }

  .swiper-scrollbar {
    left: 14rem;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c4c4c4;
  }

  .swiper-scrollbar-drag {
    background-color: #2f2e2e;
    width: 7px;
    left: -1px;
  }
}

.slide-content {
  width: 40%;
  margin-left: 20rem;
  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 4rem;
  }
  &__text {
    font-size: 2.4rem;
    color: #000;
    line-height: 40px;
    letter-spacing: -0.015em;
    margin-bottom: 6rem;
  }
  &__btn {
  }
}
