.homepage-main {
  height: 100vh;
  position: relative;

  &__slider-box {
    height: 100%;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 10;

    .icon {
      cursor: pointer;
      &--fb {
        margin-bottom: 4.5rem;
      }
    }
  }
}

.swiper-container--homepage {
  height: 100%;

  .swiper-slide {
    display: flex;
    align-items: center;
    &--1 {
      background-image: url("../images/bckg-main.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--2 {
      background-color: lightblue;
    }

    &--3 {
      background-color: lightgray;
    }
  }

  .swiper-scrollbar {
    left: 14rem;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c4c4c4;
  }

  .swiper-scrollbar-drag {
    background-color: #2f2e2e;
    width: 7px;
    left: -1px;
  }
}

.slide-content {
  width: 40%;
  margin-left: 10%;
  &__label {
    font-size: 1.8rem;
    color: #2f2e2e;
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 4rem;
  }
  &__text {
    font-size: 2.4rem;
    color: #000;
    line-height: 40px;
    letter-spacing: -0.015em;
    margin-bottom: 6rem;
  }
}

.homepage-eshop {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 8rem;
    width: 70%;
    text-align: center;
  }
  &__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none;

      &--prev {
        left: 5%;
      }
      &--next {
        right: 5%;
      }
    }
  }
}

.swiper-container--eshop {
  height: 100%;

  .swiper-slide {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.slide-card {
  padding: 6rem 0;
  padding-left: 4rem;
  background-color: #2737c4;
  height: 100%;

  &__label {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 5rem;
  }
  &__heading {
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 2.4rem;
    color: #fff;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }
}

.homepage-services {
  padding: 13rem 0;
  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    width: 80%;
    margin-bottom: 5rem;
  }
  &__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 6rem;
  }
}

.service-card {
  &__img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    img {
      width: 5.5rem;
      height: 5.5rem;
    }
  }
  &__heading {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 4rem;
  }
  &__btn {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: bold;
      color: #343646;
    }
    i {
      border: solid #343646;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      margin-bottom: 1px;
      margin-left: 5px;
    }
  }
}

////////////

.homepage-about {
  padding: 12rem 0;
  padding-left: 10%;
  background-image: url("../images/bckg-book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    color: #191919;
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 2.2rem;
    line-height: 3rem;
    color: rgba(4, 4, 4, 0.8);
    margin-bottom: 8rem;
    width: 40%;
  }
}

.homepage-products {
  padding: 12rem 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin-left: 10%;
  }
  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 3rem;
    width: 70%;
  }
  &__text {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5rem;
  }
  &__slider-box {
    width: 100%;
    height: 46rem;
    padding: 0 20rem;
    position: relative;
    margin-bottom: 7rem;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none;

      &--prev {
        left: 5%;
      }
      &--next {
        right: 5%;
      }
    }
  }
  &__btn {
    align-self: center;
  }
}
