.profile-main {
  padding: 0 10%;
  padding-top: 19rem;
  padding-bottom: 9rem;
  background-color: #f1f1f1;
}

.profile {
  &__table {
    background-color: #fff;
  }
  &__heading {
    padding: 2rem 6rem;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0;
  }
  &__body {
    display: flex;
  }
  &__personal-info {
    flex: 1;
    border-right: 1px solid #e3e3e3;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__change-pass {
    flex: 1;
    border-left: 1px solid #e3e3e3;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading-secondary {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;

    width: 70%;
    label {
      font-size: 1.8rem;
    }
    input {
      background-color: #f8f8f8;
      height: 4.5rem;
      border: 1px solid #eeeeee;
      padding: 0 3rem;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      &:focus {
        outline: none;
      }
    }
  }
  &__btn {
    border: none;
    background-color: #18a0fb;
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem 6rem;
    align-self: flex-start;
    &:focus {
      outline: none;
    }
  }
}
