.product-info {
  padding-top: 16rem;
  padding-bottom: 8rem;
  @include for-tablet {
    padding-bottom: 3rem;
  }
  &__breadcrumbs {
    font-size: 2rem;
    margin-bottom: 6rem;

    @include for-tablet {
      display: none;
    }
  }
  &__product-content {
    display: flex;
    padding-bottom: 8rem;
    @include for-tablet {
      flex-direction: column;
      padding-bottom: 3rem;
    }
  }
  &__instructions {
    padding-bottom: 8rem;
    @include for-tablet {
      padding-bottom: 3rem;
    }
  }
  &__description {
    margin-left: 6rem;

    @include for-tablet {
      margin-left: 0;
    }
    &__heading {
      font-weight: bold;
    }

    &__text {
      font-size: 2.4rem;
      line-height: 5rem;
      color: rgba(0, 0, 0, 0.8);

      @include for-phone {
        font-size: 2.2rem;
        line-height: 4rem;
      }
    }
  }
}

.product {
  &__img {
    flex: 1;
    @include for-tablet {
      margin-bottom: 4rem;
    }
    img {
      height: 100%;
      width: 90%;
      object-fit: cover;

      @include for-desktop {
        height: 80%;
        width: 95%;
      }

      @include for-laptop {
        height: 60%;
        width: 95%;
      }

      @include for-tablet {
        width: 100%;
      }
    }
  }
  &__details {
    flex: 1;
  }
  &__heading {
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__label {
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 2.4rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3rem;
  }
  &__inputs-box {
    margin-bottom: 3rem;
    display: flex;

    @include for-laptop {
      justify-content: space-between;
    }
    @include for-tablet {
      flex-direction: column;
    }
  }
  &__price {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  &__btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;

      @include for-phone {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    img {
      margin-right: 2rem;
    }
  }
}

.instructions {
  &__heading {
    font-size: 2.4rem;
    background-color: #343646;
    color: #fff;
    padding: 1.5rem 4rem;
    margin: 0;
  }
  &__text {
    font-size: 2.4rem;
    padding: 1.5rem 4rem;
    background-color: #f1f1f1;
  }
}

.select-dropdown-box {
  flex: 0 0 50%;
  position: relative;

  @include for-laptop {
    flex: unset;
    min-width: 20rem;
  }

  @include for-tablet {
    margin-bottom: 2rem;
    width: 20rem;
  }

  @include for-phone {
    width: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 4.4rem;
    height: 4.3rem;
    background-color: #faf8f8;
    pointer-events: none;
  }
  select {
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    background-color: #faf8f8;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: 1px solid #cacaca;
    outline: none;
    cursor: pointer;

    @include for-laptop {
      min-width: 17rem;
    }
  }

  img {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.input-number-box {
  margin-left: 8.5rem;
  display: flex;

  @include for-laptop {
    margin-left: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 4.5rem;
    text-align: center;
    font-size: 2.4rem;
    border: 1px solid #cacaca;
    color: #676565;
    &:focus {
      outline: none;
    }
  }

  button {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #343646;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
