.locations-landing {
  height: 70rem;
  padding-top: 26rem;
  background-image: url("../images/bckg-locations.png");
  background-repeat: no-repeat;
  background-position: bottom;
  &__label {
    margin-bottom: 4rem;
  }
  &__heading {
    width: 55%;
    font-weight: bold;
    @include for-laptop {
      width: 100%;
    }
  }
}

.locations-about {
  padding: 12rem 0;
  &__what {
    display: flex;
  }

  &__locations {
  }

  &__label {
    margin-bottom: 3rem;
  }

  &__heading {
    font-weight: bold;
    margin-bottom: 3rem;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 6rem;
  }
}

.location-card {
  border: 1px solid rgba(0, 0, 0, 0.13);
  &__img {
    height: 30rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 3rem;
  }
  &__heading {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 1.8rem;
  }
  &__dimensions {
    display: flex;
    color: #2737c4;
    font-size: 1.8rem;
    margin-top: 2rem;
    img {
      margin-right: 2rem;
    }
    span {
      font-weight: bold;
      margin-right: 2px;
    }
  }
}
