.locations-about {
  padding: 12rem 0;
  @include for-phone {
    padding: 6rem 0;
  }
  &__what {
    display: flex;
    @include for-tablet {
      flex-direction: column;
    }
  }

  &__locations {
  }

  &__label {
    margin-bottom: 3rem;
  }

  &__heading {
    font-weight: bold;
    margin-bottom: 3rem;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 6rem;
    @include for-desktop {
      column-gap: 3rem;
      row-gap: 3rem;
    }

    @include for-laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.location-card {
  border: 1px solid rgba(0, 0, 0, 0.13);
  &__img {
    height: 30rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 3rem;
  }
  &__heading {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 1.8rem;
  }
  &__dimensions {
    display: flex;
    color: #bf2459;
    font-size: 1.8rem;
    margin-top: 2rem;
    img {
      margin-right: 2rem;
    }
    span {
      font-weight: bold;
      margin-right: 2px;
    }
  }
}
