.characteristics {
  display: flex;
  @include for-tablet {
    flex-direction: column;
  }

  &--homepage {
    display: none;
    @include for-tablet {
      display: flex;
    }
    .characteristics__content {
      background-color: #2737c4;
    }
  }

  &__list {
    padding: 15rem 0;
    padding-left: 10%;
    flex: 0 0 35%;
    background-color: #2737c4;
    display: flex;
    flex-direction: column;

    &--desktop {
      @include for-tablet {
        display: none;
      }
    }
    @include for-desktop {
      padding: 10rem 0;
      padding-left: 8%;
    }
    @include for-laptop {
      padding: 5rem;
      padding-left: 3%;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
    }

    &.active {
      color: #bf2459;
    }
  }
  &__content {
    padding: 15rem;
    flex: 0 0 65%;
    background-color: #f1f1f1;
    @include for-desktop {
      padding: 10rem;
    }
    @include for-laptop {
      padding: 5rem;
    }
  }

  &__heading {
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include for-phone {
      font-size: 3.5rem;
    }
  }
  &__label {
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 2.4rem;
    span {
      color: #bf2459;
      font-weight: bold;
    }
  }
}

.swiper-container--outsideBranding {
  background-color: #2737c4;
  padding: 2rem 0;
  padding-left: 6%;
  display: none;

  @include for-tablet {
    display: block;
  }

  width: 100%;
  .nav {
    flex-wrap: unset;
    display: unset;
    padding-left: unset;
    margin-bottom: unset;
    list-style: unset;
    display: flex;
  }
  .characteristics__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: unset;
    }
  }
  ul {
    border: none;
    align-items: center;
  }

  .characteristics__link {
    &:link,
    &:visited {
      color: #fff;
      padding: 1rem 3rem;
      border-radius: 20px;
      width: 100%;
      text-align: center;
      @include for-tablet {
        font-weight: unset;
      }
    }

    &.active {
      background-color: #fff;
      color: #000;
    }
  }
}
