.contact {
  background-color: #1a1919;
  padding: 7rem 0;
  @include for-laptop {
    padding: 0;
    padding-top: 10rem;
  }

  @include for-laptop {
    padding: 0;
    padding-top: 6rem;
  }

  .u-wrapper {
    display: flex;
    @include for-laptop {
      flex-direction: column;
      margin: 0;
      width: 100%;
    }
  }
  &__content {
    flex: 1;
    @include for-laptop {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 5rem;
    }
  }
  &__label {
    margin-bottom: 4rem;
  }
  &__text {
    font-size: 2.4rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 4rem;
    width: 90%;
  }
  &__list {
    list-style: none;
  }
  &__item {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    img {
      margin-right: 5rem;
    }
  }
  &__map-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-laptop {
      height: 40rem;
    }
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
