.header {
  height: 10rem;
  width: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  &__logo-box {
    height: 50%;
    margin-left: 10rem;
  }
  &__logo {
    height: 100%;
    width: auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }
  &__list {
    display: flex;
    list-style: none;
    margin-right: 4rem;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #141414;
    }
  }
  &__btn {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #fff;
      background-color: #18a0fb;
      padding: 2rem 4rem;
      margin-right: 10rem;
    }
  }
}
