.header {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  transition: all 0.2s ease-out;

  @include for-desktop {
    display: none;
  }

  &--white {
    background-color: #fff;
  }

  &--active {
    background-color: #fff;
  }

  &--profile {
    .header__link {
      &:hover {
        color: #5dbeff;
      }
      &.active {
        color: #5dbeff;
      }
    }
  }

  &__logo-box {
    height: 50%;
    margin-left: 10rem;
  }
  &__logo {
    height: 100%;
    width: auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }
  &__list {
    display: flex;
    list-style: none;
    margin-right: 4rem;
    margin-bottom: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #141414;
      transition: all 0.1s ease-out;
    }

    &:hover {
      color: rgb(191, 36, 89);
    }

    &.active {
      color: rgb(191, 36, 89);
    }
  }
  &__btn {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #fff;
      background-color: #18a0fb;
      padding: 2rem 4rem;
      margin-right: 10rem;
    }
  }
}

.header-phone {
  display: none;
  justify-content: space-between;
  align-items: center;
  @include for-desktop {
    display: flex;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropbtn {
    cursor: pointer;
    background-color: #18a0fb;
    padding: 2rem;
    border-radius: 3px;
    margin-right: 2.5rem;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 32rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;

    &--white {
      background-color: #fff;
    }
  }

  .header__list {
    flex-direction: column;
    padding: 1.5rem;
    align-items: unset;
    text-align: center;
  }

  .header__item {
    padding: 1.8rem 0;
    margin: 0;
    img {
      margin-right: 2rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #7180964f;
    }

    &--blue {
      background-color: #18a0fb;
      a {
        color: #fff;
      }
    }
  }

  .header__link {
    font-size: 1.8rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  .show {
    display: block;
  }
}
