.btn-main {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.02em;
    color: #2f2e2e;
    padding: 2rem 5.5rem;
    border: 1px solid #bf2459;
    border-radius: 50px;
  }
}

.btn-second {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 2rem 4.5rem;
  }
  &--blue {
    background-color: #18a0fb;
  }

  &--blue-dark {
    background-color: #2737c4;
  }
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.13);

  &--shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border: none;
  }
  &__img {
    height: 20rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 2.5rem;
  }
  &__heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8);

    span {
      color: #000000;
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
  &__icon {
    height: 3rem;
    width: 3rem;
  }
}
