.btn-primary {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.02em;
    color: #2f2e2e;
    padding: 2rem 5.5rem;
    border: 1px solid #bf2459;
    border-radius: 50px;
  }
}

.btn-secondary {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 2rem 4.5rem;
  }
  &--blue {
    background-color: #18a0fb;
  }

  &--blue-dark {
    background-color: #2737c4;
  }
}
