// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Montserrat", sans-serif;
}

// HEADINGS

.heading-1 {
  font-size: 8rem;
  line-height: 9.5rem;
  text-transform: uppercase;
  color: #000;
}

.heading-2 {
  font-size: 4.8rem;
  line-height: 134%;
  color: #000;

  @include for-phone {
    font-size: 3.5rem;
    line-height: 120%;
  }

  &--white {
    color: #fff;
  }

  &--blue {
    color: #2737c4;
  }
}

.heading-3 {
  font-size: 3.6rem;
  color: #fff;

  &--black {
    color: #000;
  }
}

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bf2459;

  &--blue {
    color: #5dbeff;
  }

  &--blue-dark {
    color: #2737c4;
  }
}
