// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Montserrat", sans-serif;
}

// HEADINGS

.heading-1 {
  font-size: 8rem;
  line-height: 9.5rem;
  text-transform: uppercase;
  color: #000;
}

.heading-6 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bf2459;
}
